
<h1>Forum posts</h1>

<p>
    Here you can update the posts you want from the database:
</p>

<div>
    <div *ngFor="let i of posts">
        <div class="media">
            <img src="./../../assets/dummy.png" class="mr-3" alt="...">
            <div class="media-body">
                <h5 class="mt-0">{{ i.title }}</h5>
                <p>{{ i.body }}</p>
                <p>Post Id: {{ i.id }}</p>
                <p>User Id: {{ i.userId }}</p>
            </div>
            <button class="btn btn-outline-success">Update Post</button>
        </div>
        <hr>
        <br />
    </div>
</div>
